[Unit]
Description=A spotify playing daemon
Documentation=https://github.com/Spotifyd/spotifyd
Wants=sound.target
After=sound.target
Wants=network-online.target
After=network-online.target

[Service]
Type=dbus
ExecStart=/home/fons/spotifyd --no-daemon
User=fons
BusName=org.mpris.MediaPlayer2.spotifyd
Restart=always
RestartSec=12

[Install]
WantedBy=default.target
